/* Подключаем стили */
@font-face {
    font-family: "fonts/Noto_Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: "fonts/Noto_Sans";
}

.container {
    max-width: 990px;
}

/* Начало стилей шапки сайта */

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eaeaea;
}

.header_logo img{
    width: 250px;
}

.header_input {
    text-align: center;
}

.header_input input {
    padding: 5px 10px;
    outline: none;
    width: 75%;
    margin-top: 20px;
}

.header_input input::placeholder {
    text-align: center;
}

.header_input i {
    font-size: 20px;
    color: #958E90;
    padding-right: 15px;
}

.header-icons {
    text-align: right;
}

.header-icons_your-page-subscribers {
    color: #1E1E1E;
}

.header-icons i {
    font-size: 35px;
    font-weight: normal;
    padding-left: 15px;
    margin-top: 25px;
}

@media screen and (max-width: 1000px) {
    .header_logo {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .header_input input {
        width: 60%;
    }

    .header-icons {
        text-align: center;
    }
}

/* Коней стилей шапки сайта */

/* Начало стилей основного контента сайта */

/* Начало стилей постов */
.main {
    padding-top: 70px;
    background: #F8F8F8;
}

.post {
    border: 2px solid #eaeaea;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 100px;
}

.post_avatar {
    padding: 15px 20px;
}

.post_avatar img {
    width: 70px;
    height: 70px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.post a:nth-child(2) {
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
}

.post_news-line {
    width: 100%;
}

.post_news-line_icons {
    font-size: 35px;
    padding-top: 15px;
    padding-left: 20px;
    width: 50%;
}

.post_news-line_icons i {
    padding-right: 10px;
}

.post_news-line_icons:nth-child(4) {
    text-align: right;
}

.post_news-line_likes-amount {
    font-size: 17px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 20px;
}

.post_news-line_description {
    padding-left: 20px;
}

.post_news-line_description a {
    color: #000000;
    font-weight: bold;
    padding-right: 10px;
}

.post_news-line_look-comments {
    font-weight: bold;
    color: #958E90;
    padding-left: 20px;
}

.post_news-line_comments {
    padding-left: 20px;
}

.post_news-line_comments a {
    color: #000000;
    font-weight: bold;
    padding-right: 10px;
}

.post_news-line_age-of-comment {
    color: #958E90;
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
}

.post_news-line_add-comment input {
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 20px 25px;
    outline: none;
}

.post_news-line_add-comment input::placeholder {
    color: #958E90;
}

.post_news-line_add-comment button {
    width: 100%;
    color: rgba(56, 193, 223, .5);
    text-align: center;
    padding: 20px 25px;
    border: none;
    background: none;
    outline: none;
}

@media screen and (max-width: 420px) {
    .post_news-line_icons {
        font-size: 24px;
    }

    .post_news-line_likes-amount {
        font-size: 14px;
    }

    .post_news-line_description {
        font-size: 14px;
    }

    .post_news-line_look-comments {
        font-size: 14px;
    }

    .post_news-line_comments {
        font-size: 14px;
    }

    .post_news-line_age-of-comment {
        font-size: 10px;
    }

    .post_news-line_add input::placeholder {
        font-size: 13px;
    }
}
/* Конец стилей постов */

/* Начало стилей списка подписчиков */
.subscribers-list {
    margin-bottom: 100px;
}

.your-avatar_img {
    width: 70px;
    height: 70px;
    border: 1px solid #F8F8F8;
    border-radius: 50%;
}

.your-avatar_name {
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
}

.your-subscribers {
    width: 100%;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 15px;
    background: #ffffff;
}

.your-subscribers p {
    color: #958E90;
    font-weight: bold;
}

.subscribes-avatar_img {
    width: 70px;
    height: 70px;
    border: 1px solid #F8F8F8;
    border-radius: 50%;
    margin-bottom: 20px;
}

.subscribes-avatar_name {
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
}

/* Конец стилей списка подписчиков */

/* Конец стилей основного контента сайта */